{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 4,
  "trailingComma": "none",
  "printWidth": 100,
  "endOfLine": "lf",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": "*.css",
      "options": {
        "parser": "css",
        "tabWidth": 4
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "html",
        "tabWidth": 4,
        "printWidth": 120
      }
    }
  ]
}